@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #79345B;
    color: #fff;
}

.main{
    position: relative;
    width: 1000px;
    min-width: 1000px;
    min-height: 600px;
    height: 600px;
    background: #f4f4f4;
    box-shadow: 10px 10px 10px #38383821, -10px -10px 10px #38383821;
    border-radius: 12px;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;
    background-color: #E358A6;
    transition: 1.25s;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form-icon{
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: 0.5;
    transition: 0.15s;
}

.form-icon:hover{
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
}

.form-input{
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #38383821, inset -2px -2px 4px #38383821;
}


.form-input:focus{
    box-shadow: inset 4px 4px 4px #38383821, inset -4px -4px 4px #38383821;
}


.form-span{
    margin-top: 15px;
    margin-bottom: 12px;
}

.form-span.dob{
    margin-top: 15px;
    margin-bottom: 12px;
    text-align: left;
}


.form-link{
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2;
}

.form-button{
    border: 2px solid transparent;
    transition: all 0.3s;
}


/* Style for "Previous" button */
.form-button.previous {
    background-color: #6c757d;
}

.form-button.previous:hover {
    background-color: #5a6268;
}
.title{
    font-size: 34px;
    font-weight: 1000;
    line-height: 1.5;
    color: #181818;
    font-family: 'Poppins', sans-serif;
}

.description{
    font-size: 14px;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 1.6;
    color: #000000;
    margin-top: 20px;
}

.button{
    width: 220px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.15px;
    background-color: #803C62;
    color: #ffff;
    box-shadow: 8px 8px 16px #38383821, -8px -8px 16px #38383821;
    border: none;
    outline: none;
    cursor: pointer;
}

.register-form{
    z-index: 100;
    left: calc(100% - 600px);
}

.login-form{
    z-index: 0;
    left: calc(100% - 600px);
}

.switch{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    padding: 50px;
    z-index: 200;
    transition: 1.25s;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 4px 4px 10px #38383821, -4px -4px 10px #38383821;
    text-align: center;
    color: #181818;
}


.switch-circle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #803C62;
    box-shadow: inset 4px 4x 8px #38383821, inset -4px -4px 8px #38383821;
    bottom: -60%;
    left: -60%;
    transition: 1.25s;
}

.switch-circle-t{
    top: -30%;
    left: 60%;
    width: 300px;
    height: 300px;
}

.switch-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: 1.25s;
}


.switch-button{
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid transparent;
}

.switch-button:hover, .form-button:hover{
    background-color: transparent;
    border: 2px solid #803C62;
    color: #E358A6;
    transition: all 0.3s;
}

.switch-button:focus, .switch-button:active{
    box-shadow: 2px 2px 6px #38383821, -2px -2px 6px #38383821;
    transform: scale(0.97);
    transition: 0.25s;
}

.is-txr{
    left: calc(100% - 400px);
    transition: 1.25s;
    transform-origin: left;
}

.is-txl{
    left: 0;
    transition: 1.25s;
    transform-origin: right;
}

.is-z200{
    z-index: 200;
    transition: 1.25s;
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1.25s;
}

.is-gx{
    animation: is-gx 1.25s;
}

@keyframes is-gx {
    0%,
    10%,
    100%{
        width: 400px;
    }
    30%,
    50%{
        width: 500px;
    }
}

@media (max-width: 1200px){
    .main{
        transform: scale(0.7);
    }
}

@media (max-width: 1000px){
    .main{
        transform: scale(0.6);
    }
}

@media (max-width: 800px){
    .main{
        transform: scale(0.5);
    }
}

@media (max-width: 600px){
    .main{
        transform: scale(0.4);
    }
}